.img-thumbnail-victory {
    border: none;
    background: none;
    right: 11%;
}

.img-gameOver-victory {
    border: none;
    background: none;
    left: 35%;
    width: 300px;
    height: 200px;
    top: 100%;
}

.img-fluid-capLoading{
    width: 150px;
    height: 200px;
    right: 3%;
}