# Folders that should NOT be included.
target/
build/
bin/
.metadata/

# Extensions that should NOT be included.


# Files that should NOT be included.
.DS_Store

# Files that should BE included.
!*.jar



/Java/Backend/GameCore/CapivaraWarsCore/nbproject/private/
/Java/Backend/GameCore/CapivaraWarsCore/dist/