.pag01{
    
    margin-left: 7%;
    height: 40em;
  display: flex;
  align-items: center;
  justify-content: center
    
}

.pag02{
    position:absolute;
    top: 35px;



}

.fundoAgua {
  position: absolute;
  background-image: url(imagem-mar.png) no-repeat;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.logo{
  position: absolute;
  background-image: url(CapivaraWars-logo.png) no-repeat;
  height: 20%;
  width: 20%;
  left: 36%;
  top: 5%;
}

