<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" href="./assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/geral.css" />

    <title>Capivara Wars</title>
</head>

<body class="background">

    <div id="logo-inicial">
        <img src="assets/images/capivaralogo.svg" alt="logo capivara wars" />
    </div>

    <div class="user-area">
        <img src="assets/images/usericon.svg" alt="user foto" /><br />
        <button class="form-button">logout</button>
    </div>

    <div class="container-bamboo-home">

        <div class="container-bamboo-home-item-game">

            <div class="container-bamboo-title">
                <img src="assets/images/borderbambootitle.svg" alt="título da área de conteúdo" />
                <span>Game</span>
            </div>

            <div class="container-bamboo-border">
                <form class="container-bamboo-bg-color text-center padding-bottom-1">

                    <p>Let the games begin!!</p>

                    <button class="form-button-play">
                        <img src="assets/images/buttonplay.svg" alt="#" />
                    </button>

                </form>
            </div>
        </div>

        <!-- <div class="container-bamboo-home-item-separator"></div> -->
        <!-- <div class="container-bamboo-home-item-separator">&nbsp;</div> -->

        <div class="container-bamboo-home-item-status">

            <div class="container-bamboo-title">
                <img src="assets/images/borderbambootitle.svg" alt="título da área de conteúdo" />
                <span>Status</span>
            </div>

            <div class="container-bamboo-border">
                <form class="container-bamboo-bg-color padding-bottom-1">

                    <table>
                        <tr>
                            <td class="table-first-col">
                                <img class="user-capii-icon" src="assets/images/capiiicon.svg" alt="capivara foto" />
                            </td>
                            <td>
                                Capii
                            </td>
                        </tr>

                        <tr>
                            <td class="table-first-col">
                                Life
                            </td>
                            <td>
                                7
                            </td>
                        </tr>

                        <tr>
                            <td class="table-first-col">
                                Score
                            </td>
                            <td>
                                100
                            </td>
                        </tr>
                        <tr>
                            <td class="table-first-col">
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td class="table-first-col">
                                Wins
                            </td>
                            <td>
                                10
                            </td>
                        </tr>

                        <tr>
                            <td class="table-first-col">
                                Losses
                            </td>
                            <td>
                                1
                            </td>
                        </tr>

                        <tr>
                            <td class="table-first-col">
                                Draws
                            </td>
                            <td>
                                5
                            </td>
                        </tr>

                    </table>

                </form>
            </div>
        </div>

    </div>


    <!-- <div class="container">
        <div class="content">This is the content</div>
        <div class="overlay">Overlay - must be placed under content in the HTML</div>
    </div> -->
</body>

</html>