<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" href="./assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/geral.css" />

    <title>Capivara Wars</title>
</head>

<body class="background">

    <div id="logo-inicial">
        <img src="assets/images/capivaralogo.svg" alt="logo capivara wars" />
    </div>

    <div class="user-area">
        <img src="assets/images/usericon.svg" alt="user foto" /><br />
        <button class="form-button">logout</button>
    </div>


    <div class="container-bamboo-no-capii">

        <div class="container-bamboo-title">
            <img src="assets/images/borderbambootitle.svg" alt="título da área de conteúdo" />
            <span>Aim</span>
        </div>

        <div class="container-bamboo-border">
            <form class="container-bamboo-bg-color text-center padding-bottom-1">

                <p>Aim at a Part of the River!</p>

                <div class="aim-area">

                    <input type="button" class="form-button-cancel" value="-" />

                    <span class="aim-area-all-pieces">
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="0" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="1" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="2" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="3" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="4" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="5" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="6" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="7" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="8" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                        <label class="aim-area-piece">
                            <input type="radio" name="chosenMovement" value="9" />
                            <span class="aim-area-piece-box"></span>
                        </label>
                    </span>

                    <input type="button" class="form-button-confirm" value="+" />
                </div>

            </form>
        </div>

    </div>

    <!-- <div class="container">
        <div class="content">This is the content</div>
        <div class="overlay">Overlay - must be placed under content in the HTML</div>
    </div> -->
</body>

</html>