<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" href="./assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/geral.css" />

    <title>Capivara Wars</title>
</head>

<body class="background">

    <div id="logo-inicial">
        <img src="assets/images/capivaralogo.svg" alt="logo capivara wars" />
    </div>

    <div class="capii-animation-register move-bottom-3"></div>

    <div class="container-bamboo-register">

        <div class="container-bamboo-title">
            <img src="assets/images/borderbambootitle.svg" alt="título da área de conteúdo" />
            <span>Register</span>
        </div>

        <div class="container-bamboo-border">
            <form class="container-bamboo-bg-color text-center form-table">

                <span class="form-input-text-field form-table-item">
                    <label class="form-input-text-title" for="nick">Nick</label>
                    <input class="form-input-text-original" type="text" name="nick" />
                </span>

                <span class="form-input-text-field form-table-item">
                    <label class="form-input-text-title" for="password">password</label>
                    <input class="form-input-text-original" type="password" name="password" />
                </span>

                <span class="form-input-text-field form-table-item">
                    <label class="form-input-text-title" for="password">password confirm</label>
                    <input class="form-input-text-original" type="password" name="passwordConfirm" />
                </span>

                <span class="form-input-text-field form-table-item">
                    <label class="form-input-text-title" for="email">email</label>
                    <input class="form-input-text-original" type="email" name="email" />
                </span>

                <span class="form-input-text-field form-table-item">
                    <label class="form-input-text-title" for="fullname">full name</label>
                    <input class="form-input-text-original" type="text" name="fullname" />
                </span>

                <span class="form-table-item">
                    <label class="form-checkbox-field">
                        <input class="form-checkbox-original" type="radio" name="gender" value="m" />
                        <span class="form-checkbox-square"></span>
                        <span class="form-checkbox-text">Male</span>
                    </label>
                    &nbsp;
                    <label class="form-checkbox-field">
                        <input class="form-checkbox-original" type="radio" name="gender" value="f" />
                        <span class="form-checkbox-square"></span>
                        <span class="form-checkbox-text">Female</span>
                    </label>
                </span>

                <span class="form-input-text-field form-table-item">
                    <label class="form-input-text-title" for="birthday">birthday</label>
                    <input class="form-input-date-original" type="date" name="birthday" />
                </span>

                <!-- <span class="error-message display-block">Unfortunately this Nick does not Exist :(</span> -->

                <span class="form-group-button form-table-item">
                    <button class="form-button-back">back</button>
                </span>

                <span class="form-group-button form-table-item">
                    <button class="form-button-confirm">save</button>
                </span>


            </form>
        </div>
    </div>
    <!-- <div class="container">
        <div class="content">This is the content</div>
        <div class="overlay">Overlay - must be placed under content in the HTML</div>
    </div> -->
</body>

</html>