.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.card-body-login {
  background: none;
  border: 40px solid transparent;
  border-image: url(../../assets/images/bamboo_frame_438x546.png) 30% round;
}

.container-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fluid-login {
  position: relative;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-thumbnail-login {
  border: none;
  background: none;
}

.botao-cadastro{
  position: relative;
  left: 25%;
}

.botao-login{
  position: relative;
  left: 32%;
}
