.card-body-game {
  background: none;
  border: 40px solid transparent;
  border-image: url(../../assets/images/bamboo_frame_438x546.png) 30% round;
}

.boat {
  height: 50px;
  width: 50px;
  border: black solid 1px;
}

.limpa {
  background: white;
}

.fundo1 {
  background: brown;
}

.fundo2 {
  background: brown;
}

.fundo3 {
  background: brown;
}

.fundo4 {
  background: brown;
}

.card-body-game ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.card-body-game ul li {
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 1px solid #cccccc;
}

.shoot {
  background: black !important;
}

.boat {
  background: burlywood;
}

.water {
  background: cadetblue;
}