.img-fluid-num {
  position: relative;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-thumbnail-num {
  border: none;
  background: none;
}

.card-body-num {
  background: none;
  border: 40px solid transparent;
  border-image: url(../../assets/images/bamboo_frame_438x546.png) 30% round;
}

.number {
    font-size: 45px;
    float: left;
}