.img-fluid-loading {
  position: relative;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-thumbnail-loading {
  border: none;
  background: none;
}

.card-body-loading {
  background: none;
  border: 40px solid transparent;
  border-image: url(../../assets/images/bamboo_frame_438x546.png) 30% round;
}

.align-timer {
  text-align: center;
  justify-content: center;
}

.img-fluid-capLoading {
  height: 250px;
  width: 150px;
  text-align: center;
  justify-content: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
