.container1 {
    margin-left: 25.5%;
    width: 55.8%;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nome01{

    position: absolute;
    left: 3% !important;
    top: 4%;
    width: 100%;

  }

  .nickName{
    position: absolute;
    left: 3% !important;
    top: 26%;
    width: 100%;
    
  }

  .senha{
    position: absolute;
    left: 28% !important;
    top: 58%;
    width: 43%;

  }

  .cadastro{
    position: absolute;
    left: -300% !important;
    margin-top: 385%;
    width: 130%;
  }

  .sexo{
    position: absolute;
    left: 28% !important;
    top: 72%;
    width: 52.7%;

  }
  
  .card1 {
    top: 10%;
    height: 70%;
    width: 95%;
  }

  .foto{
    left: -9% !important;
  }
  
  .radio1 {
    position: absolute;
    top: 100%;
    z-index: 1;
  }
  
  .fundoAgua {
    position: absolute;
    background-image: url(../../assets/images/imagem-mar.jpg) no-repeat;
    z-index: -1;
    height: 100%;
    width: 100%;
  }
  
  .logo {
    position: absolute;
    background-image: url(../../assets/images/CapivaraWars-logo.png) no-repeat;
    height: 20%;
    width: 20%;
    left: 36%;
    top: 3%;
  }
  
  .botaoSub {
    position: relative;
    left: 36%;
  }
  
  .bambu1 {
    position: absolute;
    background-image: url(../../assets/images/moldura-bambu.png) no-repeat;
    height: 81%;
    width: 57%;
    top: 17%;
    left: 20.3%;
  }
  
  .texto {
    font-size: 20px;
  }
  