.container-register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fluid-register {
  position: relative;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-thumbnail-register {
  border: none;
  background: none;
}

.card-register {
  width: 200vh;
}

.card-body-register {
  background: none;
  border: 40px solid transparent;
  border-image: url(../../assets/images/bamboo_frame_438x546.png) 30% round;
}

.input-data{
  margin-top: -1%;
}

.input-email{
  margin-top: 2%;
}

.input-confirm-senha{
  margin-top: 2.5%;
}

.botao-cadastrar{
  margin-top: 7%;
  margin-left: 35%;
}